.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.center {
    text-align: center;
}

.lm-icon {
    display: inline-block;
    @include mask();
    // the icon size depends on its usage
    // the icon color must be set by background-color property

    &.add {
        @include mask-image(url('../assets/_icons/add.svg'));
    }

    &.unlock {
        @include mask-image(url('../assets/_icons/unlock.svg'));
    }
}

.lm-button {
    @extend a;
    @extend button;
    @include cursor-hand();
    @include border-radius(5px);
    padding: 15px;

    &.no-text {
        .lm-icon {
            width: $buttonNoTextIconSize;
            height: $buttonNoTextIconSize;
        }
    }

    &:not(.no-text) {
        .lm-icon {
            width: $buttonIconSize;
            height: $buttonIconSize;
            margin-right: 15px;
        }
    }

    &.active {
        color: $activeTextColor;
        background-color: $activeBgColor;
        text-transform: uppercase;
        
        &:hover, &:active, &:visited {
            color: $activeTextColor;
        }

        .lm-icon {
            background-color: $activeTextColor;
        }
    }

    &.active2 {
        color: $activeBgColor;
        background-color: $activeTextColor;
        font-weight: bold;
        text-transform: uppercase;
        @include box-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));

        &:hover, &:active, &:visited {
            color: $activeBgColor;
        }

        .lm-icon {
            background-color: $activeBgColor;
        }
    }
}

.lm-card {
    padding: 20px 15px;
    background: #FFFFFF;
    @include border-radius(5px);
    @include box-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));

    .lm-card-main-title {
        color: $mainTextColor;
        font-weight: bolder;

        .info {
            display: block;
            color: $secTextColor;
            font-weight: normal;
        }
    }
}

.lm-line {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;

    &.header {
        @extend h3;
        color: $secTextColor;
        text-align: right;
        padding-bottom: 10px;
    }

    &.last {
        border-bottom: none;
    }

    .lm-line-main-title {
        @extend h2;
        color: $activeBgColor;
        display: inline-block;

        .info {
            @extend h3;
            color: $secTextColor;
            display: block;
        }
    }

    .lm-line-value {
        @extend h2;
        float: right;
        color: $mainTextColor;

        &:after {
            content: '';
            position: absolute;
            clear: both;
        }
    }

    .lm-line-result-count {
        @extend h3;
        color: $secTextColor;
        margin-bottom: 20px;
    }
}