.bold   { font-weight: bold; }
.bolder { font-weight: bolder; }
.normal { font-weight: normal; }
.center { text-align: center; }
.right { float: right; }

.lm-icon {
    display: inline-block;
    @include mask();
    // the icon size depends on its usage
    // the icon color must be set by background-color property

    &.add {
        @include mask-image(url('../assets/_icons/add.svg'));
    }

    &.unlock {
        @include mask-image(url('../assets/_icons/unlock.svg'));
    }

    &.sort {
        @include mask-image(url('../assets/_icons/reorder.svg'));
    }

    &.facebook {
        @include mask-image(url('../assets/_icons/linkedin.svg'));
    }

    &.googleplus {
        @include mask-image(url('../assets/_icons/gplus.svg'));
    }
}

.lm-button {
    @extend a;
    @extend button;
    @include cursor-hand();
    @include border-radius(5px);
    padding: 15px;
    vertical-align: top;

    &.no-text {
        padding: 12px;

        .lm-icon {
            width: $buttonNoTextIconSize;
            height: $buttonNoTextIconSize;
        }
    }

    &:not(.no-text) {
        .lm-icon {
            width: $buttonIconSize;
            height: $buttonIconSize;
            margin-right: 15px;
        }
    }

    &.active {
        color: $activeTextColor;
        background-color: $activeBgColor;
        text-transform: uppercase;
        
        &:hover, &:active, &:visited {
            color: $activeTextColor;
        }

        .lm-icon {
            background-color: $activeTextColor;
        }
    }

    &.active2 {
        color: $activeBgColor;
        background-color: $activeTextColor;
        font-weight: bold;
        text-transform: uppercase;
        @include box-shadow(1px 1px 10px rgba(0, 0, 0, 0.2));

        &:hover, &:active, &:visited {
            color: $activeBgColor;
        }

        .lm-icon {
            background-color: $activeBgColor;
        }
    }

    &.facebook, &.googleplus {
        color: $activeTextColor;

        &:hover, &:active, &:visited {
            color: $activeTextColor;
        }

        .lm-icon {
            background-color: $activeTextColor;
            vertical-align: middle;
            width: 25px;
            height: 25px;
        }
    }

    &.facebook {
        background-color: $facebookBgColor;
    }

    &.googleplus {
        background-color: $googleplusBgColor;
    }
}

.lm-card {
    padding: 20px 15px;
    background: #FFFFFF;
    @include border-radius(5px);
    @include box-shadow(1px 1px 10px rgba(0, 0, 0, 0.1));

    .lm-card-main-title {
        margin-bottom: 20px;
        color: $mainTextColor;
        font-weight: bolder;

        .info {
            display: block;
            color: $secTextColor;
            font-weight: normal;
        }
    }

    .lm-advertisement {
        background-color: #eee;
        margin: 0px -15px;
        padding: 20px 15px;

        & + .lm-advertisement {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 35%;
                background-color: #eee;
                width: 30%;
                height: 5px;
                border-top: 3px solid #ccc; 
            }
        }

        &.last {
            padding-bottom: 60px;
        }

        .lm-advertisement-main-title {
            @extend h3;

            .lm-icon {
                width: $thirdFontSize;
                height: $thirdFontSize;
                margin-right: 15px;
                background-color: $mainTextColor;
            }
        }
    }
}

.lm-access {
    width: 400px;
    margin: 20px auto;

    .lm-access-tab-content {
        @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
        @include border-radius(0px 0px 3px 3px);
        position: relative;
        z-index: 10;
        background-color: $activeTextColor;
        padding: 20px;
    }

    .lm-access-or {
        position: relative;
        margin: 20px 0px;
        padding-left: 170px;
        font-size: 20px;
        color: $secTextColor;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 165px;
            height: 12px;
            border-bottom: 3px solid #ccc;
        }

        &:before {
            left: 0px;
        }

        &:after {
            left: 195px;
        }
    }

    .lm-access-other {
        font-size: 20px;
        color: $mainTextColor;
        font-weight: normal;

        a {
            color: $activeBgColor;
            font-weight: normal;

            &:hover, &:visited, &:active {
                color: $activeBgColor;
            }
        }
    }
    
    .ui-tabs-nav { 
        li {
            list-style: none;
            display: inline-block;
            width: 168px;
            text-align: center;
            @include border-radius(3px 3px 0px 0px);
        }

        .ui-state-default {
            padding: 10px 15px;
            background-color: #ccc;
            color: $activeBgColor;
            text-transform: uppercase;
            font-weight: bold;

            a {
                color: $activeBgColor;

                &:hover, &:visited, &:active {
                    color: $activeBgColor;
                }
            }
        }

        .ui-state-active {
            @include box-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
            background-color: $activeTextColor;
        }
    }
}

.lm-line {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;

    &.header {
        @extend h3;
        color: $secTextColor;
        text-align: right;
        padding-bottom: 10px;
    }

    &.last {
        border-bottom: none;
    }

    .lm-line-main-title {
        @extend h2;
        color: $activeBgColor;
        display: inline-block;

        .info {
            @extend h3;
            color: $secTextColor;
            display: block;
        }
    }

    .lm-line-value {
        @extend h2;
        float: right;
        color: $mainTextColor;

        &:after {
            content: '';
            position: absolute;
            clear: both;
        }
    }

    .lm-line-result-count {
        @extend h3;
        color: $secTextColor;
        margin-bottom: 20px;
    }
}