* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    font-size: $fontSize;
    color: $mainTextColor;
}

h1 { font-size: $mainFontSize; }
h2 { font-size: $secFontSize; }
h3 { font-size: $thirdFontSize; }

a {
    text-decoration: none;
}

button {
    border: none;
    @include cursor-hand();
}