$mainTextColor: rgb(50, 50, 50);
$secTextColor: rgba(50, 50, 50, 0.55);
$activeBgColor: rgb(39, 110, 164);
$activeTextColor: #FFFFFF;
$mainHeaderBgColor: #236EAE;

$fontSize: 16px;
$buttonIconSize: 12px;
$buttonNoTextIconSize: 20px;
$mainLogoSize: 24px;
$companyLogoSize: 100px;