@import 'variables';
@import 'mixins';
@import 'tags';
@import 'helpers';

#lm-main-header {
    background-color: $mainHeaderBgColor;
    padding: 10px 0px 10px 50px;
}

#lm-main-logo {
    height: $mainLogoSize;
}

#lm-company-info {
    text-align: center;
    padding-top: 60px;
    margin-bottom: 30px;
    @include filter-gradient(#BBD3E6, #FFFFFF);
    @include linear-gradient(url('../assets/background/company-page-background@3x.png'), #BBD3E6, #E9F1F7, #FFFFFF);
    background-repeat: no-repeat;
    background-position: center top; 

    #lm-company-name {
        margin: 30px 0;
    }

    #lm-company-logo {
        @include logo($companyLogoSize);
    }
}

#lm-company-menu {
    position: relative;
    text-align: center;
    @include box-shadow(1px 1px 10px rgba(0, 0,0, 0.2));

    a {
        display: inline-block;
        padding: 15px 25px;
        color: $secTextColor;
        font-weight: bold;

        .info {
            display: block;
        }

        &:hover, &:active, &:visited {
            color: $secTextColor;
        }

        &.selected {
            border-bottom: 3px solid #1FB3AA;
            color: $mainTextColor;
            font-weight: bolder;

            &:hover, &:active, &:visited {
                color: $mainTextColor;
            }
        }
    }
}

#lm-content {
    background-color: #ddd;
    padding: 20px;
}